@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.loginput {
  margin-right: 30px;
}

.logbutton {
  margin: 30px 30px 10px 0;
}

.header {
  margin-top: 50px;
  font-style: normal;
  font-family: Arial, sans-serif;
  font-weight: 500;
}
